{% extends xidea_template('person_main') %}
{% block bundle_title %}
    <h1 class="page-header">{{ 'person_show.title'|trans({'%name%':model.name}) }}</h1>
{% endblock %}
{% block bundle_main %}
    <div class="box box-default person-box">
        <div class="box-header">
            <h3 class="box-title">{{ 'person_show.details.title'|trans }}</h3>
        </div>
        <!-- /.box-heading -->
        <div class="box-body">
            <div class="person-details">
                <table class="table table-bordered table-striped person-table">
                    <tbody>
                      <tr>
                        <th scope="row">
                          <code>{{ 'person.name'|trans }}</code>
                        </th>
                        <td>{{ model.name }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
{% endblock %}
