{% extends xidea_template('person_main') %}
{% block bundle_title %}
    <h1 class="page-header">{{ 'person_create.title'|trans }}</h1>
{% endblock %}
{% block bundle_main %}
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">{{ 'person_create.title'|trans }}</h3>
        </div>
        <!-- /.box-heading -->
        <div class="box-body">
            {{ include(xidea_template('person_form')) }}
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
{% endblock %}
